body {
    background-color: lightcoral;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* #roll-fish {
    
} */